<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TabeBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ViewControllerTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A848C5561A2EBD2200A08BCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A848C56F1A2EBD2200A08BCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A848C58A1A2EF4CE00A08BCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A848C5A51A2EF4CE00A08BCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
